/* font-family: 'Permanent Marker', cursive; */

.navbars {
   background-color: rgb(0, 191, 166);
}

.navbar {
   color: white;
}

.brandFont {
   font-family: "Chango", cursive;
   font-size: "1.7em";
}

.links {
   font-family: "Indie Flower", cursive;
}
